@function rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}
@function remVal($size) {
	$remSize: $size / 16px;
	@return $remSize;
}

html, body{
	height: 100%;
	overflow: hidden;
}

body{
	background-color: var(--light);
}

::-webkit-scrollbar {
	width: rem(5px);
	height: rem(5px);
}
::-webkit-scrollbar-track {
	background: var(--light); 
}

::-webkit-scrollbar-thumb {
	background: #e8e8e8;
	border-radius: 1px;
}

.btn.focus, .btn:focus{
	box-shadow: none !important;
}

#container{
	height: calc(100% - #{rem(72px)});
	// height: 100%;	
	padding-left: 0;
	padding-right: 0;

	> .row{
		height: 100%;
		margin-left: 0;
		margin-right: 0;

		> [class*="col-"]{
			height: 100%;

			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				// padding-right: 0;
			}
		}
	}
}
#data-tabs-cont{
	> .row, > .row > [class*="col-"], 
	.tab-content, 
	.tab-pane, .tab-pane > .row, .tab-pane > .row > [class*="col-"], .scrollable{
		height: 100%;
	}
	.nav-link{
		position: relative;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&:first-child{
			// border-top-right-radius: 0;
		}
		&:not(.active) .badge{
			color: #fff;
			background-color: var(--blue);
		}

		.badge{
			position: absolute;
			right: 0.75rem;
			top: 50%;
			transform: translateY(-50%);
			width: 2.7rem;
		}
	}
	#output-tabs, .scrollable{
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0.2rem;
		padding-right: #{(remVal(5px) + 0.2)}rem;
	}
	#output-tabs{
		padding-left: 15px;
	}
}

#output-tabs{
	// padding-left: 0;
	padding-right: 0;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 rem(140px);
	flex: 0 0 rem(140px);
	max-width: rem(140px);
}

#output-tabs-cont{
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(100% - #{rem(140px)});
	flex: 0 0 calc(100% - #{rem(140px)});
	max-width: calc(100% - #{rem(140px)});
	.scrollable.mails{
		display: flex;
		flex-wrap: wrap;
	}
	.block-mail {
		box-shadow: 0 0px 3px #d9dde0;
		margin-bottom: rem(8px);
		width: 100%;
		.btn{
			// transition: all 350ms ease;
		}
		.btn:not(.collapsed){
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			&:not(:hover){
				background-color: #f9f9f9;
				border-color: #f9f9f9;
			}
		}
		&.block-footer .badges,
		&.block-header .badges{
			right: .75rem;
		}
	}
	.btn-block{
		text-align: left;
		position: relative;

		.preview{
			position: absolute;
			right: .75rem;
			top: 50%;
			height: 100%;
			width: 24px;
			transform: translateY(-50%);
			i{
				left: auto;
				color: var(--gray);
				opacity: .5;
				transition: all 350ms ease-in-out;
			}
			&:hover i{
				opacity: 1;
				color: var(--blue);
			}
		}

		.badges{
			position: absolute;
			// width: 3.75em;
			// float: right;
			right: 2.9rem;
			top: 50%;
			transform: translateY(-50%);
			.badge{
				float: left;
				top: 0;
				position: static;
				margin-left: rem(5px);
				width: rem(50px);
			}
		}
	}
	.card-body{
		padding: rem(16px);
		// border: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;

		.card-title-custom{
		}

		label{
			font-size: small;
			color: #9a9da0;
		}

		pre{
			margin: 0;
		}
	}
}

.editor{
	height: 250px;

	&.editor-cont{
		margin-bottom: rem(16px);
	}
	border-radius: .25rem;
}

.btn:not(.n-i-a){
	position: relative;

	.material-icons{
		position: absolute;
		left: .75rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

#actions .btn{
	box-shadow: 0 0px 3px #d9dde0;
}
// #credits{
// 	a{
// 		svg{
// 			fill: var(--blue);
// 			width: rem(200px);
// 			height: rem(200px);
// 		}
// 		width: rem(200px);
// 		height: rem(200px);
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		margin: auto;
// 	}
// }

.navbar{
	height: rem(56px);
	margin-bottom: rem(16px);

}
.navbar-expand-lg .navbar-nav .nav-link{
	padding-left: #{(remVal(30px) + 0.5)}rem;
	position: relative;

	i{
		position: absolute;
		left: 0.5rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

.modal-title{
	padding-left: rem(35px);
	position: relative;
	i{
		color: var(--blue);
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.card-pre{
	font-family: var(--font-family-monospace);
	font-size: small;
}

.card-p-0{
	padding: 0;
}

.btn-light {
	color: var(--gray);
	background-color: var(--white);
	border-color: var(--white);
}

.btn-pink{
	color: #fff;
	background-color: #e83e8c;
	border-color: #e83e8c;

	&:hover{
		color: #fff;
		background-color: #d4347d;
		border-color: #d4347d;
	}
}

.btn-block+.btn-block{
	margin-top: rem(15px);
}

.m_btn{
	margin-top: rem(15px);	
	margin-bottom: rem(15px);	
}

.custom-select:focus {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#data-tabs-cont .nav-link.disabled {
	opacity: 0.5;
}