@import "styles-variables";
@import "styles-utils";

.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  background-color: $bg-light;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  padding: $grid-gutter-width;
}

h1 {
  line-height: 1;
  font-weight: 300;
  font-size: 48px;

  b {
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
  }
}

.icon-wrap {
  color: $blue-2;

  .icon {
    fill: $blue-2;
    height: 36px;
    width: 36px;
  }

  span {
    display: block;
  }
}

.card {
  width: 800px;
  height: 420px;
  // margin: auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-bottom: $grid-gutter-width * 3;
  }
}

.disclaimer {
  position: absolute;
  bottom: $grid-gutter-width;
  left: $grid-gutter-width;
  right: $grid-gutter-width;
}
