<div class="card">
  <div class="card-header">
    <div class="text">Preview</div>
    <div class="subtitle"><span class="light">Email:</span> {{ appData.previewData.name }}</div>

    <div class="buttons-header">
      <button
        class="btn btn-light btn-collapse"
        type="button"
        (click)="downloadHtmlPreview()"
      >
        <p class="btn-text" data-toggle="tooltip" data-placement="top" title="Download as .HTML">HTML</p>
      </button>
      <button
        class="btn btn-light btn-collapse"
        type="button"
        (click)="downloadImgPreview()"
      >
        <p class="btn-text" data-toggle="tooltip" data-placement="top" title="Download as .PNG">PNG</p>
      </button>
      
      <button
        class="btn btn-light btn-collapse"
        type="button"
        (click)="toggleCollapsePreview()"
      >
        <svg class="icon" data-toggle="tooltip" data-placement="top" title="Collapse preview"><use xlink:href="#menu"></use></svg>
      </button>

      <button
        class="btn btn-light"
        type="button"
        data-toggle="modal"
        data-target="#modal-preview-settings"
      >
        <svg class="icon" data-toggle="tooltip" data-placement="top" title="Preview options"><use xlink:href="#settings"></use></svg>
      </button>
    </div>
  </div>
  <div class="card-body" id="card-iframe-container">
    <iframe [src]="getSrc()" frameborder="0" id="card-iframe-preview"></iframe>
  </div>
</div>
