<div class="modal fade" id="modal-tags-legend" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tags Legend</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <svg class="icon"><use xlink:href="#close"></use></svg>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li class="media">
            <div class="media-object">
              <span class="badge badge-id">Id 00</span>
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tag id</h5>
              Email template internal id.
            </div>
          </li>
          <li class="media my-4">
            <div class="media-object">
              <span class="badge badge-empty">empty</span>
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Empty html</h5>
              Indicates if an html is empty string after a trim.
            </div>
          </li>
          <li class="media my-4">
            <div class="media-object">
              <span class="badge badge-deprecated">deprecated</span>
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Deprecated</h5>
              Indicates if an email is deprecated.
            </div>
          </li>
          <li class="media my-4">
            <div class="media-object">
              <span class="badge badge-noSubject">noSubject</span>
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1">No subject</h5>
              Show if email subject is empty after trim.
            </div>
          </li>
          <li class="media">
            <div class="media-object">
              <span class="badge badge-customHeader">customHeader</span>
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1">Custom Header/Footer</h5>
              Indicates a possible self email custom header or footer.
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
