<div class="view view-instructions">
  <div class="language-navbar">
    <eg-language-navbar></eg-language-navbar>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Lorem
        </div>
        <div class="card-body">
<pre>
{{ langData | json }}
</pre>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>
