@import "styles-utils";
@import "styles-variables";

.col-preview {
  flex: 0 0 650px + $grid-gutter-width;
  max-width: 650px + $grid-gutter-width;
}

.col-editors {
  flex: 0 0 calc(100% - #{650px + $grid-gutter-width});
  max-width: calc(100% - #{650px + $grid-gutter-width});
}

.lang-item {
  margin-bottom: $grid-gutter-width;

  .card-header {
    .text {
      color: $blue-1;
    }
  }
}

.badges {
  margin-top: 6px;
  @include clearfix();
}
.badge {
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  padding: 0 0.8em;
  height: 18px;
  line-height: 18px;
  border-radius: 7px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;

  &-id {
    color: #FFF;
    background-color: $blue-1;
  }
  &-empty {
    color: #FFF;
    background-color: $danger;
  }
  &-noSubject {
    color: #FFF;
    background-color: $warning;
  }
  &-customHeader, &-customFooter {
    color: #FFF;
    background-color: $info;
  }
}
