@import "styles-variables";
@import "styles-utils";

.view-language {
  padding: 0;

  .view-content {
    position: absolute;
    top: $navbar-h;
    left: 0;
    right: 0;
    height: calc(100% - #{$navbar-h});
    overflow: auto;
    padding: $grid-gutter-width;
  }
}

.language-navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.col-preview {
  flex: 0 0 650px + $grid-gutter-width;
  max-width: 650px + $grid-gutter-width;
}

.col-editors {
  flex: 0 0 calc(100% - #{650px + $grid-gutter-width});
  max-width: calc(100% - #{650px + $grid-gutter-width});
}

.lang-item {
  &:not(:last-child) {
    margin-bottom: $grid-gutter-width;
  }

  .card-header {
    padding: 0;
    .collapse-button {
      padding: 15px $grid-gutter-width;
      display: block;
      > * {
        pointer-events: none;
      }
    }
    .text {
      color: $blue-1;
    }
  }
  .card-body {
    padding-top: $grid-gutter-width - 10px;

    .form-group {
      margin-bottom: $grid-gutter-width;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.badges {
  margin-top: 4px;
  @include clearfix();
}
