<div class="view view-instructions">
  <div class="language-navbar">
    <eg-language-navbar></eg-language-navbar>
  </div>

  <div class="row">
    <div class="col col-editors">

      <!-- header -->
      <div class="lang-item lang-item-header lang-item-generic-header">
        <div class="card">
          <div class="card-header">
            <a
              class="collapse-button"
              href="#collap-lang-item-generic-header"
              data-toggle="collapse"
              data-target="#collap-lang-item-generic-header"
              aria-expanded="false"
            >
              <div class="text">Generic Header</div>
              <div class="badges">
                <span class="badge badge-id">Header</span>
                <ng-container *ngFor="let tagName of objectKeys(langData.emails.header.tags)" >
                  <span class="badge badge-{{ tagName }}"
                  *ngIf="langData.emails.header.tags[tagName]">{{ tagName }}</span>
                </ng-container>
              </div>
            </a>
          </div>

          <div class="collapse" id="collap-lang-item-generic-header">
            <div class="card-body">
              <eg-editor [langKey]="langKey" [content]="langData.emails.header.html" [contentKey]="'emails.header.html'"></eg-editor>
            </div>
          </div>
        </div>
      </div>
      <!-- /header -->

      <!-- footer -->
      <div class="lang-item lang-item-footer lang-item-generic-footer">
        <div class="card">
          <div class="card-header">
            <a
              class="collapse-button"
              href="#collap-lang-item-generic-footer"
              data-toggle="collapse"
              data-target="#collap-lang-item-generic-footer"
              aria-expanded="false"
            >
              <div class="text">Generic footer</div>
              <div class="badges">
                  <span class="badge badge-id">Footer</span>
                <ng-container *ngFor="let tagName of objectKeys(langData.emails.footer.tags)" >
                  <span class="badge badge-{{ tagName }}"
                  *ngIf="langData.emails.footer.tags[tagName]">{{ tagName }}</span>
                </ng-container>
              </div>
            </a>
          </div>

          <div class="collapse" id="collap-lang-item-generic-footer">
            <div class="card-body">
              <eg-editor [langKey]="langKey" [content]="langData.emails.footer.html" [contentKey]="'emails.footer.html'"></eg-editor>
            </div>
          </div>
        </div>
      </div>
      <!-- /footer -->

      <div class="lang-item lang-item-email lang-item-email-{{ emailTemplateId }}" *ngFor="let emailTemplateId of objectKeys(langData.emails.templates)">
        <div class="card">
          <div class="card-header">
            <a
              class="collapse-button"
              href="#collap-lang-item-email-{{ emailTemplateId }}"
              data-toggle="collapse"
              data-target="#collap-lang-item-email-{{ emailTemplateId }}"
              aria-expanded="false"
            >
              <div class="text">{{ langData.emails.templates[emailTemplateId].name }}</div>
              <div class="badges">
                <span class="badge badge-id">Id {{ emailTemplateId }}</span>
                <ng-container *ngFor="let tagName of objectKeys(langData.emails.templates[emailTemplateId].tags)" >
                  <span class="badge badge-{{ tagName }}"
                        *ngIf="langData.emails.templates[emailTemplateId].tags[tagName]">{{ tagName }}</span>
                </ng-container>
              </div>
            </a>
          </div>

          <div class="collapse" id="collap-lang-item-email-{{ emailTemplateId }}">
            <div class="card-body">
<pre>
  {{ langData.emails.templates[emailTemplateId].html }}
</pre>
            </div>
          </div>
        </div>
      </div>

<pre>
{{ langData | json }}
</pre>
    </div>

    <!-- preview -->
    <div class="col col-preview">
      <eg-preview [previewEmailId]="1" [previewEmailLangKey]="langKey"></eg-preview>
    </div>
    <!-- preview -->

  </div>
</div>
