@import "styles-variables";
@import "styles-utils";

.view-language {
  padding: 0;

  .view-content {
    position: absolute;
    top: $navbar-h;
    left: 0;
    right: 0;
    height: calc(100% - #{$navbar-h});
    overflow: auto;
    &::-webkit-scrollbar {
      width:  0;
      height: 0;
    }
    padding: ($grid-gutter-width - 10px) $grid-gutter-width;
  }
}

.language-navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.col-preview {
  flex: 0 0 620px + $grid-gutter-width;
  max-width: 620px + $grid-gutter-width;

  position: fixed;
  top: ($navbar-h * 2) + ($grid-gutter-width - 10px);
  right: $grid-gutter-width / 2;
  bottom: $grid-gutter-width - 10px;
  padding-left: 0;
  padding-right: 0;
  margin-right: $grid-gutter-width / 2;
}

.lang-item {
  max-width: calc(100% - 680px);

  @for $i from 1 through 100 {

    // for each $col_#{i}
    &:nth-child(#{100 - $i}) .card {
      z-index: $i;
    }
  }

  &:not(:last-child) {
    margin-bottom: $grid-gutter-width;
  }
  .card {
    overflow: visible;
  }
  .card-header {
    padding: 0;
    position: relative;
    background-color: transparent;

    .collapse-button {
      padding: 15px $grid-gutter-width;
      display: block;
      > * {
        pointer-events: none;
      }
    }
    .text {
      color: $blue-1;
    }
  }
  .card-body {
    padding-top: $grid-gutter-width - 10px;

    .form-group {
      margin-bottom: $grid-gutter-width;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.badges {
  margin-top: 4px;
  @include clearfix();
}
