<div class="view view-language">
  <div class="language-navbar">
    <eg-language-navbar></eg-language-navbar>
  </div>
  <div class="view-content" #scrolling>
    <div class="row">
      <div class="col col-editors">

        <!-- header -->
        <div
          class="lang-item lang-item-header lang-item-generic-header"
          [ngClass]="findedLangItem('Generic Header', 'class', scrolling)"
          [style.order]="findedLangItem('Generic Header', 'order', scrolling)"
        >
          <div class="card">
            <div class="card-header">
              <a
                class="collapse-button collapsed"
                href="#collap-lang-item-generic-header"
                data-toggle="collapse"
                data-target="#collap-lang-item-generic-header"
                aria-expanded="false"
              >
                <div class="text">Generic Header</div>
                <div class="badges">
                  <span class="badge badge-id">Header</span>
                  <ng-container *ngFor="let tagName of objectKeys(langData.emails.header.tags)" >
                    <span
                      class="badge badge-{{ tagName }}"
                      *ngIf="langData.emails.header.tags[tagName]"
                    >
                      {{ tagName }}
                    </span>
                  </ng-container>
                </div>
              </a>
            </div>

            <div class="collapse" id="collap-lang-item-generic-header">
              <div class="card-body">
                <eg-editor
                  label="Html"
                  [langKey]="langKey"
                  [content]="langData.emails.header.html"
                  [contentKey]="'emails.header.html'"
                ></eg-editor>
              </div>
            </div>
          </div>
        </div>
        <!-- /header -->

        <!-- footer -->
        <div
          class="lang-item lang-item-footer lang-item-generic-footer"
          [ngClass]="findedLangItem('Generic Footer', 'class', scrolling)"
          [style.order]="findedLangItem('Generic Footer', 'order', scrolling)"
        >
          <div class="card">
            <div class="card-header">
              <a
                class="collapse-button collapsed"
                href="#collap-lang-item-generic-footer"
                data-toggle="collapse"
                data-target="#collap-lang-item-generic-footer"
                aria-expanded="false"
              >
                <div class="text">Generic Footer</div>
                <div class="badges">
                  <span class="badge badge-id">Footer</span>
                  <ng-container *ngFor="let tagName of objectKeys(langData.emails.footer.tags)" >
                    <span
                      class="badge badge-{{ tagName }}"
                      *ngIf="langData.emails.footer.tags[tagName]"
                    >
                      {{ tagName }}
                    </span>
                  </ng-container>
                </div>
              </a>
            </div>

            <div class="collapse" id="collap-lang-item-generic-footer">
              <div class="card-body">
                <eg-editor
                  label="Html"
                  [langKey]="langKey"
                  [content]="langData.emails.footer.html"
                  [contentKey]="'emails.footer.html'"
                ></eg-editor>
              </div>
            </div>
          </div>
        </div>
        <!-- /footer -->

        <div
          class="lang-item lang-item-email lang-item-email-{{ emailTemplateId }}"
          *ngFor="let emailTemplateId of objectKeys(langData.emails.templates)"
          [ngClass]="findedLangItem(langData.emails.templates[emailTemplateId], 'class', scrolling)"
          [style.order]="findedLangItem(langData.emails.templates[emailTemplateId], 'order', scrolling)"
        >
          <div class="card">
            <div class="card-header">
              <a
                class="collapse-button collapsed"
                (click)="refreshPreview($event, emailTemplateId)"
                href="#collap-lang-item-email-{{ emailTemplateId }}"
                data-toggle="collapse"
                data-target="#collap-lang-item-email-{{ emailTemplateId }}"
                aria-expanded="false"
              >
                <div class="text">{{ langData.emails.templates[emailTemplateId].name }}</div>
                <div class="badges">
                  <span class="badge badge-id">Id {{ emailTemplateId }}</span>
                  <ng-container *ngFor="let tagName of objectKeys(langData.emails.templates[emailTemplateId].tags)" >
                    <span
                      class="badge badge-{{ tagName }}"
                      *ngIf="langData.emails.templates[emailTemplateId].tags[tagName]"
                    >
                      {{ tagName }}
                    </span>
                  </ng-container>
                </div>
              </a>

              <div class="buttons-header">
                <button
                  class="btn btn-light over-1400"
                  type="button"
                  (click)="refreshPreview($event, emailTemplateId, true)"
                >
                  <svg class="icon" data-toggle="tooltip" data-placement="top" title="Add to preview"><use xlink:href="#preview"></use></svg>
                </button>

                <button
                  class="btn btn-light over-1400"
                  type="button"
                  (click)="appData.generateEmailHtml(langKey, emailTemplateId)"
                >
                  <svg class="icon" data-toggle="tooltip" data-placement="top" title="Download source code (.html)"><use xlink:href="#download"></use></svg>
                </button>

                <div class="dropdown">
                  <button
                    class="btn btn-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton{{ emailTemplateId }}"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <svg class="icon" data-toggle="tooltip" data-placement="top" title="Email options"><use xlink:href="#tree-dots"></use></svg>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" attr.aria-labelledby="dropdownMenuButton{{ emailTemplateId }}">
                    <a class="dropdown-item over-1400" href="#" (click)="refreshPreview($event, emailTemplateId, true)">
                      Add to preview
                    </a>
                    <a class="dropdown-item over-1400" href="#" (click)="appData.generateEmailHtml(langKey, emailTemplateId)">
                      Download .html
                    </a>
                    <hr class="over-1400">
                    <a class="dropdown-item" href="#" (click)="evalModifyHeader($event, emailTemplateId)">
                      {{ langData.emails.templates[emailTemplateId].tags.customHeader ? 'Remove header' : 'Add header' }}
                    </a>
                    <a class="dropdown-item" href="#" (click)="evalModifyFooter($event, emailTemplateId)">
                      {{ langData.emails.templates[emailTemplateId].tags.customFooter ? 'Remove footer' : 'Add footer' }}
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="collapse" id="collap-lang-item-email-{{ emailTemplateId }}">
              <div class="card-body">
                <div class="form-group">
                  <eg-subject
                    contentKey="emails.templates[{{ emailTemplateId }}].subject"
                    [value]="langData.emails.templates[emailTemplateId].subject"
                    [langKey]="langKey"
                  ></eg-subject>
                </div>

                <!-- body -->
                <div class="form-group">
                  <eg-editor
                    label="Body"
                    [langKey]="langKey"
                    [content]="langData.emails.templates[emailTemplateId].html"
                    contentKey="emails.templates[{{ emailTemplateId }}].html"
                  ></eg-editor>
                </div>

                <!-- customHeader -->
                <div class="form-group">
                  <eg-editor
                    *ngIf="langData.emails.templates[emailTemplateId].tags.customHeader"
                    label="Custom header"
                    [langKey]="langKey"
                    [content]="langData.emails.templates[emailTemplateId].header.html"
                    contentKey="emails.templates[{{ emailTemplateId }}].header.html"
                  ></eg-editor>
                </div>

                <!-- customFooter -->
                <div class="form-group">
                  <eg-editor
                    *ngIf="langData.emails.templates[emailTemplateId].tags.customFooter"
                    label="Custom footer"
                    [langKey]="langKey"
                    [content]="langData.emails.templates[emailTemplateId].footer.html"
                    contentKey="emails.templates[{{ emailTemplateId }}].footer.html"
                  ></eg-editor>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- preview -->
      <div class="col col-preview">
        <eg-preview [previewEmailId]="1" [previewEmailLangKey]="langKey"></eg-preview>
      </div>
      <!-- preview -->

    </div>
  </div>
</div>

<eg-modal-tags></eg-modal-tags>
<eg-modal-preview-settings></eg-modal-preview-settings>
