<div class="view view-instructions">
  <div class="row">
    <div class="col">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Si recarregues la app es perdrán els canvius.
      </div>
    </div>

    <div class="col">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        El pruses nomes omplira els mails que no siguin empty i alhora
        existeixin al Logicommerce.
        <br />
        Tampoc machaca altres idiomes
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Copiar mails en un idioma FLUID</div>
        <div class="card-body">
          <ol class="mb-1" style="line-height: 2">
            <li>Escollir idioma</li>
            <li>
              Editar (o no) el codi dels mails de l'idioma. Si no es toquen
              s'ompliran amb els continguts de base.
            </li>
            <li>
              Triar l'idioma de destí dels mails (per defecte el mateix, pero es
              pot donar el cas de voler els mails en <i>EN</i> per al idioma
              <i>PT</i> perque no els tenim en <i>PT</i>)
            </li>
            <li>Apretar el boto generar script i copiar el script generat.</li>
            <li>
              Fer logout del LC si el tenim obert i tornar a fer login i sense
              obrir RES llençar el script per consola.
            </li>
            <li>
              NO CANVÏS DE PESTANYA ni facis altres coses fins que acabi!!!<br />Mentres
              s'executa no toquis el Logicommerce, canvia de pestanya i ves fes
              un riu o un café
            </li>
            <li>Si necessites un altre idioma repeteix el procès.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">Copiar mails en un idioma BEYOND</div>
        <div class="card-body">
          <ol class="mb-1" style="line-height: 2">
            <li>
              Tot igual que els passos en FLUID pero amb uns pasos previs:
            </li>
            <li>
              Configura una configuració de email, encara que sigui temporal,
              per tenir un id intern de configuradció de email.
            </li>
            <li>
              Al acabar tot el procès, caldrà repassar els noms dels adjunts
              d'alguns mails com el de confirmació de comanda.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
