<!-- svg icons -->
<eg-icons></eg-icons>

<ng-container *ngIf="auth.validUser == false">
  <eg-access-loading></eg-access-loading>
</ng-container>

<ng-container *ngIf="auth.validUser == true">

  <ngx-loading-bar [includeSpinner]="false" [height]="'3px'" [color]="'#cc00cc'"></ngx-loading-bar>

  <!-- layout -->
  <div class="eg-layout">
    <eg-navbar></eg-navbar>

    <div class="eg-content">
      <div class="eg-sidebar">
        <eg-sidebar></eg-sidebar>
      </div>
      <div class="eg-outlet">
        <router-outlet (window:beforeunload)="doBeforeUnload()"></router-outlet>
      </div>
    </div>
  </div>

</ng-container>
