@import 'styles-utils';
@import 'styles-variables';

.eg-layout {
  height: calc(100% - #{$navbar-h});
}
.eg-content {
  height: 100%;
  display: flex;
}
.eg-sidebar {
  width: $sidebar-w;
  float: left;
}
.eg-outlet {
  float: left;
  width: calc(100% - #{$sidebar-w});
  height: 100%;
  overflow: auto;
}
