@import "styles-utils";
@import "styles-variables";

.navbar {
  background-color: #FFF;
  border-bottom: 1px solid $light-border;
  border-left: 1px solid $light-border;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
  margin-top: -$grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  padding: 0 $grid-gutter-width;
  height: $navbar-h;
}

.navbar .navbar-nav .nav-link {
  @media (min-width: 992px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.search-form {
  position: relative;

  .form-control {
    width: 190px;
    padding-left: 1rem;
    padding-right: 40px;
    background-color: #f2f2f2;

    &:not(:focus) {
      border-color: #f2f2f2;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  .icon {
    fill: $pink-1;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.generate-script {
  width: 190px;
  font-size: 15px;
}
