<form class="view view-generate-script" #generateScriptForm="ngForm" (ngSubmit)="onSubmit(generateScriptForm)">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/language/{{ langKey }}">{{ langData.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Generate Script</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col col-conf">
      <div class="card">
        <div class="card-header">
          Configuration
        </div>
        <div class="card-body">

          <div class="form-group">
            <div class="form-group-title">LC insert mode</div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="lcInsertMode3in1"
                name="lcInsertMode"
                class="custom-control-input"
                value="3in1"
                [ngModel]="scriptData.conf.lcInsertMode" (ngModelChange)="onChangeLcInsertMode($event)"
              >
              <label class="custom-control-label" for="lcInsertMode3in1"><b>3 in 1</b> - All email code into body input</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="lcInsertMode3in3"
                name="lcInsertMode"
                class="custom-control-input"
                value="3in3"
                [ngModel]="scriptData.conf.lcInsertMode" (ngModelChange)="onChangeLcInsertMode($event)"
              >
              <label class="custom-control-label" for="lcInsertMode3in3"><b>3 in 3</b> - Header, body and footer each in input</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-title">Time deelay</div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="timeDeelay5"
                name="timeDeelay"
                class="custom-control-input"
                value="5000"
                [ngModel]="scriptData.conf.timeDeelay" (ngModelChange)="onChangeTimeDeelay($event)"
              >
              <label class="custom-control-label" for="timeDeelay5"><b>5 seconds</b> - Normal deelay</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="timeDeelay10"
                name="timeDeelay"
                class="custom-control-input"
                value="10000"
                [ngModel]="scriptData.conf.timeDeelay" (ngModelChange)="onChangeTimeDeelay($event)"
              >
              <label class="custom-control-label" for="timeDeelay10"><b>10 seconds</b> - Heavy deelay, for slow connections</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-title pb-0">Destination language</div>
            <span id="destLangHelp" class="text-butted mb-3">
              Generar els emails en un llenguatge per a un llenguatge de destí diferent.
            </span>

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="destLang"><b>{{ langKey | uppercase }} - {{ langData.name }}</b>&nbsp;&nbsp;to</label>
              </div>
              <select
                class="custom-select"
                id="destLang"
                name="destLang"
                aria-describedby="destLangHelp"
                [ngModel]="scriptData.conf.destLang" (ngModelChange)="onChangeDestLang($event)"
              >
                <option *ngFor="let langId of objectKeys(selectLangs)" [value]="langId">
                  {{ selectLangs[langId].key | uppercase }} {{ selectLangs[langId].name }}
                </option>
              </select>
            </div>
          </div>

          <button class="btn btn-primary btn-lg btn-block" [disabled]="generateScriptForm.invalid">Generate script</button>

        </div>
      </div>
    </div>

    <div class="col col-info col-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="time" [innerHTML]="scriptInsights.execTime"></div>
              <div class="time-label">Script execution time</div>
            </div>
            <div class="col">
              <svg class="time-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.833 43.917"><path fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2" d="M1.5 33.083l9.666-18.666L21.583 26.25 31.75 1.5l10.166 14.583 9.417 18 9.917-9.333L71.416 41 81.5 28.417l10.333 14 9.5-22"/></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="chart-max">
            <!-- (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" -->
            <canvas baseChart
              [data]="scriptInsights.emailsChart.data"
              [labels]="scriptInsights.emailsChart.labels"
              [chartType]="scriptInsights.emailsChart.type"
              [legend]="scriptInsights.emailsChart.legend"
              [colors]="scriptInsights.emailsChart.colors"
              [options]="scriptInsights.emailsChart.options"
            ></canvas>

            <div class="percent-chart">
              <div class="d-flex align-items-end">
                <span class="percent-chart-n" [innerHTML]="scriptInsights.emails.validPerCent"></span><span class="percent-chart-label">%</span>
              </div>
            </div>
          </div>

          <div class="row align-items-end">
            <div class="col">
              <span class="label-valids">Valid emails:</span>
            </div>
            <div class="col text-right">
              <span class="total-emails-label">
                <span class="valid-emails">{{ scriptInsights.emails.valid }}</span>/<span class="total-emails">{{ scriptInsights.emails.total }}</span>
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="lenstring" [innerHTML]="scriptInsights.stringLen"></div>
              <div class="lenstring-label">Script string lenght</div>
            </div>
            <div class="col">
              <svg class="lenstring-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77 43">
                <g transform="translate(0, 43) scale(1, -1)">
                  <rect y="0" width="5">
                    <animate attributeName="height" from="0" to="11" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="6" y="0" width="5">
                    <animate attributeName="height" from="0" to="22" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="12" y="0" width="5">
                    <animate attributeName="height" from="0" to="11" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="18" y="0" width="5">
                    <animate attributeName="height" from="0" to="22" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="24" y="0" width="5">
                    <animate attributeName="height" from="0" to="32" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="30" y="0" width="5">
                    <animate attributeName="height" from="0" to="22" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="36" y="0" width="5">
                    <animate attributeName="height" from="0" to="32" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="42" y="0" width="5">
                    <animate attributeName="height" from="0" to="22" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="48" y="0" width="5">
                    <animate attributeName="height" from="0" to="11" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="54" y="0" width="5">
                    <animate attributeName="height" from="0" to="22" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="60" width="5">
                    <animate attributeName="height" from="0" to="43" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="66" y="0" width="5">
                    <animate attributeName="height" from="0" to="2" dur="250ms" fill="freeze"/>
                  </rect>
                  <rect x="72" y="0" width="5">
                    <animate attributeName="height" from="0" to="22" dur="250ms" fill="freeze"/>
                  </rect>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-script">
      <div class="card">
        <div class="card-header">
          Script
        </div>
        <div class="card-body">
          <!-- (textChanged)="onChangeAce($event)" -->
          <ace-editor
            class="ace-editor-script"
            #editor
            [(text)]="script"
            [mode]="'html'"
            [theme]="'xcode'"
            [options]="aceOptions"
            [readOnly]="true"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="100"
          ></ace-editor>

          <!-- <textarea name="script" cols="30" rows="10" [(ngModel)]="script"></textarea> -->
        </div>
      </div>
    </div>
  </div>

</form>
