@import 'styles-utils';
@import 'styles-variables';

.col-conf {
  .form-group-title {
    padding-bottom: 20px;
  }
  .custom-control {
    margin-bottom: 12px;
  }
  .custom-select {
    height: calc(2.3rem + 2px);
    color: $pink-1;
  }
  .input-group {
    margin-top: 12px;
  }
  .input-group-text {
    background-color: transparent;
  }
  .form-group {
    margin-bottom: 50px;

    label {
      b {
        color: $blue-1;
      }
      color: $blue-2;
    }
  }
  .text-butted {
    color: $blue-2;
  }
  .btn-primary {
    padding: 12px;
  }
}

.col-info {
  .card {
    height: auto;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .time {
    font-size: 22px;
  }
  .time-label {
    color: $blue-2;
  }
  .time-icon {
    width: 100px;
    height: 50px;
    stroke: $pink-1;
    margin-left: auto;
    display: block;
  }
  .chart-max {
    max-width: 120px;
    margin: 0 auto;
  }
}
