<div class="view view-generate-script">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/language/{{ langKey }}">{{ langData.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Generate Script</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col col-conf">
      <div class="card">
        <div class="card-header">
          Configuration
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col col-info">
      <div class="card">
        <div class="card-body">
          Script time
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          Percent email %
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          Code length
        </div>
      </div>
    </div>

    <div class="col col-script">
      <div class="card">
        <div class="card-header">
          Script
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>

</div>
