@import 'styles-utils';
@import 'styles-variables';

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.col-conf {
  .form-group-title {
    padding-bottom: 20px;
  }
  .custom-control {
    margin-bottom: 12px;
  }
  .custom-select {
    height: calc(2.3rem + 2px);
    color: $pink-1;
  }
  .input-group {
    margin-top: 12px;
  }
  .input-group-text {
    background-color: transparent;
  }
  .form-group {
    margin-bottom: 50px;

    label {
      b {
        color: $blue-1;
      }
      color: $blue-2;
    }
  }
  .text-butted {
    color: $blue-2;
  }
  .btn-primary {
    padding: 12px;
  }
}

.col-info {
  flex: 0 0 370px;
  max-width: 370px;

  .col-item {
    margin-bottom: $grid-gutter-width;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .time, .lenstring {
    font-size: 22px;
  }
  .total-emails-label {
    font-size: 26px;
  }
  .time-label, .label-valids, .lenstring-label {
    color: $blue-2;
  }
  .time-icon {
    width: 100px;
    height: 50px;
    stroke: $pink-1;
    margin-left: auto;
    display: block;
    path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 4s linear both;
    }
  }
  .lenstring-icon {
    width: 100px;
    height: 50px;
    margin-left: auto;
    display: block;
    fill: $pink-1;
  }
  .chart-max {
    max-width: 120px;
    margin: 0 auto 15px;
    position: relative;
  }
  .percent-chart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    line-height: 1;
  }
  .percent-chart-n {
    font-weight: bold;
    font-size: 26px;
    color: $pink-1;
  }
  .percent-chart-label{
    font-size: 18px;
    color: $blue-2;
  }
}

.col-script {
  .card-body {
    position: relative;
  }
  .ace-editor-script {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    width: calc(100% - 60px);
    border-radius: 7px;
    border: 1px solid #ced4da;
  }
  .card-header {
    position: relative;

    .btn {
      position: absolute;
      right: $grid-gutter-width;;
      top: 50%;
      transform: translateY(-50%);
      width: 98px;

      span {
        margin-right: 4px;
      }
    }
  }
}

@media (max-width: 1499px) {
  .col-info {
    order: 1;
    flex: 0 0 100%;
    max-width: 100%;

    .col-item:last-child {
      margin-bottom: $grid-gutter-width;
    }
    .col-item-time, .col-item-len {
      .card {
        justify-content: center;

        .card-body {
          flex: none;
        }
      }
    }
  }
  .col-conf {
    flex: 0 0 50%;
    max-width: 50%;
    order: 2;
  }
  .col-script {
    flex: 0 0 50%;
    max-width: 50%;
    order: 3;
  }
}
@media (max-width: 1199px) {
  .col-info {
    order: 4;
    .col-item {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-item, .col-item:last-child {
      margin-top: $grid-gutter-width;
      margin-bottom: 0;
    }
    .col-item-time {
      order: 1;
    }
    .col-item-len {
      order: 2;
    }
    .col-item-valid {
      order: 3;
    }
  }
}
@media (max-width: 991px) {
  .col-conf {
    margin-bottom: $grid-gutter-width;
  }
  .col-conf, .col-info, .col-script {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-info {
    .col-item-time, .col-item-valid, .col-item-len {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .col-script {
    .card-body {
      min-height: 350px;
    }
  }
}
