<form class="view view-generate-script" #generateScriptForm="ngForm" (ngSubmit)="onSubmit(generateScriptForm)">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/language/{{ langKey }}">{{ langData.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Generate Script</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col col-conf">
      <div class="card">
        <div class="card-header">
          Configuration
        </div>
        <div class="card-body">

          <div class="form-group">
            <div class="form-group-title">LC insert mode</div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="lcInsertMode3in1"
                name="lcInsertMode"
                class="custom-control-input"
                value="3in1"
                [(ngModel)]="scriptData.conf.lcInsertMode"
              >
              <label class="custom-control-label" for="lcInsertMode3in1"><b>3 in 1</b> - All email code into body input</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="lcInsertMode3in3"
                name="lcInsertMode"
                class="custom-control-input"
                value="3in3"
                [(ngModel)]="scriptData.conf.lcInsertMode">
              <label class="custom-control-label" for="lcInsertMode3in3"><b>3 in 3</b> - Header, body and footer each in input</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-title">Time deelay</div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="timeDeelay5"
                name="timeDeelay"
                class="custom-control-input"
                value="5000"
                [ngModel]="scriptData.conf.timeDeelay" (ngModelChange)="onChangeTimeDeelay($event)"
              >
              <label class="custom-control-label" for="timeDeelay5"><b>5 seconds</b> - Normal deelay</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="timeDeelay10"
                name="timeDeelay"
                class="custom-control-input"
                value="10000"
                [ngModel]="scriptData.conf.timeDeelay" (ngModelChange)="onChangeTimeDeelay($event)">
              <label class="custom-control-label" for="timeDeelay10"><b>10 seconds</b> - Heavy deelay, for slow connections</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-group-title pb-0">Destination language</div>
            <span id="destLangHelp" class="text-butted mb-3">
              Generar els emails en un llenguatge per a un llenguatge de destí diferent.
            </span>

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="destLang"><b>{{ langKey | uppercase }} - {{ langData.name }}</b>&nbsp;&nbsp;to</label>
              </div>
              <select
                class="custom-select"
                id="destLang"
                name="destLang"
                aria-describedby="destLangHelp"
                [(ngModel)]="scriptData.conf.destLang"
              >
                <option *ngFor="let langId of objectKeys(selectLangs)" [value]="langId">
                  {{ selectLangs[langId].key | uppercase }} {{ selectLangs[langId].name }}
                </option>
              </select>
            </div>
          </div>

          <button class="btn btn-primary btn-lg btn-block" [disabled]="generateScriptForm.invalid">Generate script</button>

        </div>
      </div>
    </div>

    <div class="col col-info col-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="time">{{ scriptInsights.execTime }}</div>
              <div class="time-label">Script execution time</div>
            </div>
            <div class="col">
              <svg class="time-icon"><use xlink:href="#timer"></use></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <canvas baseChart
              [data]="scriptInsights.emailsChart.data"
              [labels]="scriptInsights.emailsChart.labels"
              [chartType]="scriptInsights.emailsChart.type"
              [legend]="scriptInsights.emailsChart.legend"
              [colors]="scriptInsights.emailsChart.colors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          Code length
        </div>
      </div>
    </div>

    <div class="col col-script">
      <div class="card">
        <div class="card-header">
          Script
        </div>
        <div class="card-body">
          <textarea name="script" cols="30" rows="10" [(ngModel)]="script"></textarea>
        </div>
      </div>
    </div>
  </div>

</form>
