.card {
  box-shadow: 0 0 12px 0px rgba($shadow-1, 1);
  height: 100%;
  overflow: hidden;
}

.card-header {
  font-size: 20px;
  border-bottom: 1px solid $light-border;
  color: $blue-1;
  position: relative;

  .buttons-header {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -21px;

    > * {
      float: left;
    }

    .btn {
      fill: $blue-2;
      background-color: #FFF;
      border-color: #FFF;
      width: 42px;
      height: 42px;
      padding: 0;
      transition: $transition-base;

      &:hover {
        fill: $blue-1;
      }
      &:active, &:hover:active {
        fill: $pink-1;
      }
      &:focus {
        fill: $pink-1;
        box-shadow: none;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.card-text {
  ul {
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.card-title {
  a {
    color: $blue-1;
  }
  font-weight: bold;
  font-size: 16px;
  line-height: 1.1;
}

.card-bottom {
  font-size: 12px;
  color: $blue-2;
}

.card-items {
  .card-item {
    margin-bottom: $grid-gutter-width;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
