@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

@import '~compass-mixins/lib/compass/css3';

@import "styles-utils";
@import "styles-variables";
@import '~bootstrap/scss/bootstrap';

@import 'component-card';

@include scrollbars(10px, #c1c1c1, #f1f1f1);

html, body {
  height: 100%;
}
.eg-layout {
  height: calc(100% - #{$navbar-h});
}
.eg-content {
  height: 100%;
  display: flex;
}
.eg-sidebar {
  width: $sidebar-w;
  float: left;
  transition: $transition-base;

  .sidebar-collapsed & {
    width: $grid-gutter-width + $sidebar-badge-size + $grid-gutter-width + 10px;
    ul > li a {
      justify-content: center;
    }
    .name , .icon {
      display: none;
    }
    .badge {
      margin-right: 0;
    }
  }
}
.eg-outlet {
  float: left;
  width: calc(100% - #{$sidebar-w});
  height: 100%;
  overflow: auto;
  transition: $transition-base;

  .sidebar-collapsed & {
    width: calc(100% - #{$grid-gutter-width + $sidebar-badge-size + $grid-gutter-width});
  }
}

// BT overrites
.dropdown-toggle::after {
  display: none;
}

// global components
.view {
  padding: $grid-gutter-width;
}
