@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

@import '~compass-mixins/lib/compass/css3';

@import "styles-variables";
@import "styles-utils";
@import '~bootstrap/scss/bootstrap';

@import 'component-card';
@import 'component-modal';

@include scrollbars(8px, #c1c1c1, #f1f1f1);

::-moz-selection {
  color: #FFF;
  background: $blue-1;
}

::selection {
  color: #FFF;
  background: $blue-1;
}

html, body {
  height: 100%;
}
.eg-layout {
  height: calc(100% - #{$navbar-h});
}
.eg-content {
  height: 100%;
  display: flex;
}
.eg-sidebar {
  width: $sidebar-w;
  float: left;
  // transition: $transition-base;

  .sidebar-collapsed & {
    width: $grid-gutter-width + $sidebar-badge-size + $grid-gutter-width + 10px;
    ul > li a {
      justify-content: center;
    }
    .name , .icon {
      display: none;
    }
    .badge {
      margin-right: 0;
    }
  }
}
.eg-outlet {
  float: left;
  width: calc(100% - #{$sidebar-w});
  height: 100%;
  overflow: auto;
  position: relative;
  // transition: $transition-base;

  .sidebar-collapsed & {
    width: calc(100% - #{$grid-gutter-width + $sidebar-badge-size + $grid-gutter-width});
  }
}

// BT overrites
.dropdown-toggle::after {
  display: none;
}

// global components
.view {
  padding: $grid-gutter-width;
}

// Editor
body.editor-full-screen {
	overflow: hidden;
}
.editor-full-screen .ace-editor-default:not(.editor-full-screen) {
	opacity: 0;
	visibility: hidden;
}
.editor-full-screen .ace-editor-default.editor-full-screen {
	height: auto !important;
	width: auto !important;
	border: 0;
	margin: 0;
	position: fixed !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: 10;
  border-radius: 0;
}

.badge {
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  letter-spacing: 0.2px;
  padding: 0 0.8em;
  height: 18px;
  line-height: 18px;
  border-radius: 7px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;

  &-id {
    color: #FFF;
    background-color: $blue-1;
  }
  &-empty {
    color: #FFF;
    background-color: $danger;
  }
  &-noSubject {
    color: #FFF;
    background-color: $warning;
  }
  &-customHeader, &-customFooter {
    color: #FFF;
    background-color: $info;
  }
}

.lang-item ::-webkit-scrollbar {
  width:  4px;
  height: 4px;
}

.breadcrumb {
  margin: 0 0 $grid-gutter-width;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  line-height: 1;

  .breadcrumb-item {
    a {
      color: $blue-2;
    }
    + .breadcrumb-item:before {
      color: #ab7fa5;
    }
    &.active {
      color: $pink-1;
    }
  }
}

.btn-xs svg {
  width: 1rem;
  height: 1rem;
}
.btn-primary svg {
  fill: #FFF;
}

.modal-header {
  align-items: center;
}
