// Colors
$bg-light:       #f7f7fa;
$light-border:   #f7eff6; // border over white
$black-1:        #221b26;

$blue-1:         #5c649c;
$blue-2:         #9ca1b9;
$pink-1:         #cc00cc;

$shadow-1:       #e9ddf7; // shadow box color

$disabled-bg:    #888;
$disabled-text:  #666;

// Layout
$sidebar-w:               250px;
$sidebar-item-h:          60px;
$navbar-h:                60px;
$sidebar-badge-size:      23px;
$small-breakpoints:       1366px;


// BT overrites
$primary:                   $pink-1 !default;
$dark:                      #333 !default;

$body-bg:                   $bg-light !default;
$body-color:                $blue-1 !default;

$link-color:                $pink-1 !default;
$link-decoration:           none !default;
$link-hover-color:          darken($pink-1, 15%) !default;
$link-hover-decoration:     none !default;

$grid-gutter-width:         30px !default;

$font-family-sans-serif:    "Nunito", sans-serif !default;
// $font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:          $font-family-sans-serif !default;

$font-size-base:            0.875rem !default; // 14px

$transition-base:           all .2s ease-in-out !default;

$card-spacer-y:                     15px !default;
$card-spacer-x:                     $grid-gutter-width !default;
$card-border-width:                 0px !default;
$card-border-radius:                7px !default;
// $card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          $card-border-radius !default; // calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       #FFF !default;
$card-cap-color:                    inherit !default;
$card-bg:                           #FFF !default;

$card-img-overlay-padding:          1.25rem !default;

$card-group-margin:                 $grid-gutter-width / 2 !default;
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;
