.icon-import, .icon-export {
  fill: url(#gradient-pink);
  width: 80px;
  height: 80px;
}

#export-button {
  width: 120px;
}

.col-no-auto {
  flex: 0 0 calc(100% - 110px);
  max-width: calc(100% - 110px);
}

pre {
  white-space: normal;
}
